// =================================
// Color palette
// =================================

// Generic colors
$blue                         : #2D2DD3;
$green                        : #16c98d;
$red                          : #fa5e5b;
$yellow                       : #feef6d;
$orange                       : #e67e22;
$pink                         : #FF3FB5;
$purple                       : #8e44ad;
$gray                         : #95a5a6;


// colores nullØbject :D 

$no-black					: #000;
$no-gray					: #3b3b3b;
$no-palegray				: #949494;
$no-ultrapalegray 			: #f4f4f4;
$no-styleblue				: #9AC5B8; 
$no-flat-blue				: #2D2DD3;

$no-brightblue 				: #52FF77;



//003236

// Color Scheme
$color-primary                : $no-gray;

$color-secondary              : $no-palegray;
$color-highlight              : $no-gray;


// Common colors
$color-text                   : #FFF;
$color-bg                     : $no-ultrapalegray;
$color-border                 : #ddd;

// Text Selection
$color-selection              : #fff;
$color-selection-bg           : $no-palegray;


// Links
$color-link-default           : $no-palegray;
$color-link-visited           : $no-palegray;
$color-link-hover             : darken($no-palegray, 20%);
$color-link-active            : darken($no-palegray, 20%);


// <hr> border color
$hr-border                    : lighten(#000, 70%);
