
body, html {
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

body, .onepage-wrapper, html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

.onepage-wrapper {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
	width: 100%;
	height: 100%;
}

.onepage-pagination {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 5;
	list-style: none;
	margin: 0;
	padding: 0;
}
.onepage-pagination li {
	padding: 0;
	text-align: center;
}
.onepage-pagination li a{
	padding: 10px;
	width: 4px;
	height: 4px;
	display: block;
	cursor:pointer;
}
.onepage-pagination li a:before{
	content: '';
	position: absolute;
	width: 4px;
	height: 4px;
	background: rgba(255,255,255,1);
	border-radius: 10px;
}

.onepage-pagination li a.active:before{
	width: 10px;
	height: 10px;
	background: none;
	border: 1px solid black;
	margin-top: -4px;
	left: 8px;
	background-image: gradient(

linear,

left bottom,

right top,

color-stop(0.07, #FFFF00),

color-stop(0.5, #000000),

color-stop(1, #FFFF00)

);

}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
	overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
	position: relative !important;
	top: auto !important;
	left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {

	transform: none !important;
	min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
	display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
	position: inherit;
}


///// end onepage_scroll


/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
	//overflow:hidden;
}


.mainContent { 

	//border: #000FFF;
	position:absolute;
	top:0;
	left:0;
	height:100%;
//		overflow:hidden;

}

.block { 

	background-color:$color-primary;
	position:relative;
	text-align:center;

}

.has-padding  { 

	padding: 10vw;
}

//                : $003236;
// $color-secondary              : $CCC6B1;
// $color-highlight  
.intro-scroll-icon { 
	width: 100%;
	display: block;
	position: absolute;
	margin:0 auto;
	//margin-top:50%;
	bottom: 5px;
	svg {

		max-width:50px;
		transform:translateX(-100%);

	}

}

.logo-init { 

	max-width: 60vw;
}


.center {
//	border:1px solid green;
	
	transform:translateX(-50);
}

// colors


.black {
	background-color: $color-primary;
}
.grey { 

	background-color: #CCC6B1;
}

/// header 

header {

	//background-color: #CCC6B1;
	position:absolute;
	top:0;
	height: 80px;
	text-align: center;
	background-color: #666;
	width: 100%;
	position: absolute;
	margin: auto;
}


.header-logo { 
	width: 80px;
	top: 0px;
	left:20px;
//	position:fixed;
//	display:none;

	&.active { 

		display:inline-block;
	}
}




.site-menu {
	position:fixed;
	top:25px;
	left:90px;
	color: #444;

}

.menu-btn {
	color:white!important;
	cursor:pointer;
	padding: 10px 10px 10px 10px;
	margin-left: 30px;

//  display:non
	& .active { 
		display:block;
		color: #000;
	}
}


// lang
.dropdown-menu { 
	position:fixed;
	top:24px;
	right:20px;
//	background-color:#DDD;
	//border: 1px #DDD solid;
	border: 1px #BBB solid;
	border-radius: 2px;
}


.lang-btn {
	color:white;
	cursor:pointer;
	padding:4px;
	color:#DDD;
//	margin: 0 auto;
	display: inline-block;
	transition: all 600ms ease-in-out;
	//transform:translateX(-5px);
	max-width:35px;
	&.active {
		background-color:#DDD;
		color:#000;
	}
	&:hover {
		color:#000;
	}
}


// end header 

// helper translation plugin
.data-translatable { 
	display:none;
}



// mission infography 

.sphere {
		text-align:center;
	border-radius:250px;
	vertical-align: middle;
	display: table-cell;
	text-align:center;
	background:#000;
}

.infograph { 
	border:1px solid red;
	//width:auto;
	margin:0 auto;
}

.halfer { 

	width:40vw;
	display:inline-block;
	border:1px solid green;
	float: left;

}
.thirder { 

	width:26vw;
	display:inline-block;
	border:1px solid red;
	float: left;

}

.infograph-big {

		color:#fff;
		width:30vw; /* 20% of the viewport width */
		height: 30vw;
		font-size:1.5em;
}

.infograph-small {

		color:#fff;
		width:15vw; /* 10% of the viewport width */
		height: 15vw;
	//	font-size:.8em;
		//position:absolute;
}


/// projects section



.project-image {
  width:300px; 
  height:165px;
  border:solid 7px #fff;
  background: #eee;
  margin:50px 0 0 100px;
  display:inline-block;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
  transition: all 600ms ease-in-out;

}

.project-image > img {
 transition: all 500ms ease-in-out;
 transform: rotate(20deg) scale(2);
 filter: grayscale(1);
}

.project-image > img:hover{
  transition: all 450ms ease-in-out;
  transform: rotate(0deg) scale(1);
  filter: grayscale(0);
}


.cursos-image {
  width:100vw; 
  height:20vw;
  background: #eee;
  margin:50px 0 0 100px;
  display:inline-block;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
  transition: all 600ms ease-in-out;

}

.cursos-image > img {
  transition: all 500ms ease-in-out;
  transform: rotate(20deg) scale(2);
  filter: grayscale(1);
 width:100vw; 
}

.cursos-image > img:hover{
  transition: all 450ms ease-in-out;
  transform: rotate(0deg) scale(1);
  filter: grayscale(0);
}



footer {

	bottom: 0;
	height: 100px;
	text-align: center;
	background-color: #000;
	width: 100%;
	position: absolute;
	margin: auto;
	
	h3 { 
		font-size:0.6em;
		margin-top:40px;
	}
}

