
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}


///// end onepage_scroll


/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
	//overflow:hidden;
}


.mainContent { 

	//border: #000FFF;
	position:absolute;
	top:0;
	left:0;
	height:100%;
//		overflow:hidden;

}

.block { 

	background-color:$color-primary ;
	position:relative;
//	border:1px solid red;
	text-align:center;

}


//                : $003236;
// $color-secondary              : $CCC6B1;
// $color-highlight  
.intro-scroll-icon { 

	max-width:70px;
	margin:0 auto;
}


.center {
//	border:1px solid green;
	//text-align:center;
	transform:translateX(-50);
}


.black {
	background-color: $color-primary;
}
.grey { 

	background-color: #CCC6B1;
}


header {

  height:100px;
  background-color: #CCC6B1;
  position:absolute;
  top:0;
}


// a
.fancyButton { 

  a {
    display: inline-block;
    padding: 1em 2em;
    border: 3px solid white;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
    color: white;
  }

  a:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: white;
    transform: rotate(-20deg) scaleX(0) scaleY(3);
    z-index: -1;
    transition: 0.3s;
    opacity: 0;
  }

  a:hover {
    color: white;
  }

  a:hover:after {
    transform: rotate(-20deg) scaleX(1.1) scaleY(3);
    opacity: 1;
  }

}


.dropdown-menu { 
  position:fixed;
  top:10px;
  right:20px;

}
.lang-btn {
  color:white;
  cursor:pointer;
}

.data-translatable { 
  display:none;

}

